*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

ul[class],
ol[class] {
  padding: 0;
}

body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

body {
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
  background-color: #000000;
  font-family: "Be Vietnam Pro", sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  font-size: 52px;
  color: #ffffff;
  line-height: 64px;
  letter-spacing: 0.006em;
  font-weight: 700;
}

ul[class],
ol[class] {
  list-style: none;
}

a:not([class]) {
  -webkit-text-decoration-skip: ink;
          text-decoration-skip-ink: auto;
  text-decoration: none;
}

a {
  text-decoration: none;
  color: #ffffff;
}

img {
  max-width: 100%;
  display: block;
}

article > * + * {
  margin-top: 1em;
}

input,
button,
textarea,
select {
  font: inherit;
}

@media (prefers-reduced-motion: reduce) {
  * {
    -webkit-animation-duration: 0.01ms !important;
            animation-duration: 0.01ms !important;
    -webkit-animation-iteration-count: 1 !important;
            animation-iteration-count: 1 !important;
    -webkit-transition-duration: 0.01ms !important;
            transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}

body.lock {
  overflow: hidden;
}

.header {
  width: 100%;
  left: 0;
  top: 0;
  z-index: 50;
  position: fixed;
  -webkit-transition: color 0.3s;
  transition: color 0.3s;
}
.header.scrolled {
  background-color: rgba(0, 0, 0, 0.8);
}
.header.scrolled .header__content {
  padding-block: 20px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.header__logo {
  z-index: 3;
}
.header__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-block: 52px;
  position: relative;
  -webkit-transition: padding-block, 3s;
  transition: padding-block, 3s;
}
.header__burger {
  display: none;
}
.header__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 48px;
}
.header__btn {
  max-width: 184px;
  background: #EE8313;
  text-align: center;
  padding: 12px 24px;
}
.header__btn:hover {
  background-color: #b7650d;
}
.header__list {
  z-index: 2;
}

.offer {
  padding-top: 167px;
}
.offer__title {
  font-weight: 700;
  font-size: 52px;
  line-height: 64px;
  letter-spacing: 0.006em;
  color: #FFFFFF;
  padding: 0;
  margin: 0;
}
.offer__text {
  font-size: 17px;
  line-height: 28px;
  letter-spacing: -0.408px;
  color: #FFFFFF;
  opacity: 0.8;
  margin: 32px 0 48px 0;
}
.offer__content {
  max-width: 474px;
}
.offer__btn {
  background: #EE8313;
  padding: 12px 12px;
  -webkit-transition: background-color 0.1s;
  transition: background-color 0.1s;
  width: 100%;
  max-width: 100px;
}
.offer__btn:hover {
  background-color: #d77811;
}
.offer__btn_color {
  padding: 12px 24px;
  border: 1px solid #EE8313;
  margin-left: 35px;
  -webkit-transition: background-color 0.1s;
  transition: background-color 0.1s;
  max-width: 200px;
}
.offer__btn_color:hover {
  background-color: #161515;
}
.offer__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 40px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.offer__inner {
  position: relative;
}
.offer__room {
  font-weight: 700;
  font-size: 40px;
  line-height: 52px;
  letter-spacing: -0.0041em;
  color: #FFFFFF;
}
.offer__photo {
  position: absolute;
  bottom: -114px;
  right: -315px;
}
.offer__numbers {
  font-weight: 700;
  font-size: 40px;
  line-height: 52px;
  letter-spacing: -0.0041em;
  color: #FFFFFF;
}
.offer__lux {
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.01em;
  color: #FFFFFF;
}
.offer__best {
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.01em;
  color: #FFFFFF;
}

.cars {
  padding-top: 192px;
}
.cars__title {
  text-align: center;
}
.cars__cards {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 32px 1fr;
  grid-template-columns: repeat(2, 1fr);
  gap: 32px;
  margin-top: 40px;
}

.services__content {
  margin-top: 66px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 20px;
}
.services__title {
  margin: 128px 0 66px 0;
}
.services__treaty {
  font-weight: 700;
  font-size: 24px;
  line-height: 32px;
  letter-spacing: 0.006em;
  color: #FFFFFF;
  margin: 24px 0 16px 0;
  display: block;
}
.services__text {
  font-weight: 400;
  font-size: 16px;
  line-height: 28px;
  letter-spacing: 0.006em;
  color: #FFFFFF;
  opacity: 0.8;
  max-width: 384px;
}

.popular__title {
  max-width: 591px;
  margin: 0 auto;
  text-align: center;
  margin-top: 120px;
}
.popular__cards {
  background-color: #131313;
  padding-bottom: 24px;
}
.popular__content {
  margin-top: 40px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 32px 1fr 32px 1fr;
  grid-template-columns: repeat(3, 1fr);
  gap: 32px;
}
.popular__town {
  font-weight: 700;
  font-size: 24px;
  line-height: 32px;
  letter-spacing: 0.006em;
  color: #FFFFFF;
  margin-top: 24px;
  display: block;
}
.popular__rent {
  font-size: 16px;
  line-height: 28px;
  letter-spacing: 0.0041em;
  color: #FFFFFF;
  opacity: 0.8;
  display: block;
}
.popular__price {
  font-weight: 600;
  font-size: 16px;
  line-height: 28px;
  letter-spacing: 0.0041em;
  color: #FFFFFF;
  display: block;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 20px;
  margin-top: 25px;
}
.popular__color {
  font-size: 16px;
  line-height: 28px;
  letter-spacing: 0.0041em;
  color: #EE8313;
}
.popular__inner {
  margin-left: 24px;
}

.standing__title {
  margin-top: 170px;
  text-align: center;
}
.standing__map {
  margin-top: 40px;
  padding-bottom: 102px;
}

.footer {
  background-color: #1F1905;
  padding-top: 40px;
}
.footer__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.footer__text {
  font-size: 18px;
  line-height: 32px;
  color: #FFFFFF;
  max-width: 235px;
  margin-top: 64px;
}
.footer__item {
  font-size: 16px;
  line-height: 20px;
  color: #FFFFFF;
  opacity: 0.8;
  font-weight: 400;
  margin-top: 28px;
}
.footer__title {
  font-weight: 700;
  font-size: 18px;
  line-height: 20px;
  color: #FFFFFF;
}
.footer__safety {
  margin-top: 86px;
  text-align: center;
  padding: 20px 20px;
  background-color: #EE8313;
  color: #FFFFFF;
}

@media (max-width: 1400px) {
  .offer__photo {
    display: none;
  }
}
@media (max-width: 1400px) and (max-width: 750px) {
  .header__menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #EE8313;
    padding: 120px 20px;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
    -webkit-transform: translate(-100%);
            transform: translate(-100%);
  }
  .header__btn {
    display: none;
  }
  .header__burger {
    display: block;
    position: relative;
    width: 30px;
    height: 20px;
    z-index: 3;
  }
  .header__burger::before {
    content: "";
    background-color: #FFFFFF;
    position: absolute;
    width: 100%;
    height: 4px;
    left: 0;
    top: 0;
  }
  .header__burger::after {
    content: "";
    background-color: #FFFFFF;
    position: absolute;
    width: 100%;
    height: 4px;
    left: 0;
    bottom: 0;
  }
  .header__burger .header__line {
    background-color: #FFFFFF;
    position: absolute;
    width: 100%;
    height: 4px;
    left: 0;
    bottom: 0;
    top: 8px;
  }
  .header__list {
    display: block;
  }
  .header__item li {
    margin-top: 20px;
  }
  .menu__link {
    font-size: 40px;
  }
  .header__link {
    font-size: 40px;
  }
  .header__burger.active::before {
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
    top: 9px;
  }
  .header__burger.active::after {
    -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg);
    bottom: 9px;
  }
  .header__burger.active span {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  .header__menu.active {
    -webkit-transform: translate(0);
            transform: translate(0);
  }
  .offer__items {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-top: 100px;
  }
  .services__content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .services__title {
    text-align: center;
    font-size: 32px;
  }
  .popular__content {
    -ms-grid-columns: (1fr)[2];
    grid-template-columns: repeat(2, 1fr);
  }
  .cars__cards {
    -ms-grid-columns: (1fr)[1];
    grid-template-columns: repeat(1, 1fr);
    justify-items: center;
  }
  .cars__title {
    font-size: 32px;
  }
  .popular__title {
    font-size: 32px;
  }
  .popular__car {
    display: none;
  }
  .footer__menu {
    display: none;
  }
  .footer__inner {
    margin: 0 auto;
  }
  .offer__button {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin: 0 auto;
  }
  .offer__btn {
    margin: 0 auto;
  }
  .offer__btn_color {
    margin: 20px auto;
  }
}
@media (max-width: 1400px) and (max-width: 750px) and (max-width: 500px) {
  .popular__content {
    -ms-grid-columns: (1fr)[1];
    grid-template-columns: repeat(1, 1fr);
    width: 100%;
  }
}